 @media only screen and (min-width: 1024px)/* laptop screen */
{ 
.container{
    position: absolute;
    min-width: 1024px;
    background-size: cover;
    top: 0px;
}
.div-1{
    position: relative;
    min-width: 1024px;
}
.box{
    position: absolute;
    background-color: rgb(36, 76, 83);
    height: 45px;
    width: 50px;
    margin-top: 30px;
    margin-left: 10px;
    border-top: 4px solid black;
    border-left: 4px solid black;
}
.text-1{
    position: relative;
    width: 400px;
    font-size: 40px;
    top: 20px;
    margin-left: 70px;

}
.back{
    position: absolute;
    margin-top: 40px;
    height:620px;
    min-width: 1024px;
}
.div-2{
    position: relative;
    top: 700px;
    width: 720px;
    height: 430px;
}
.number{
    position: absolute;
    font-size: 60px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 10px;
    color: rgb(224, 52, 9);
    text-shadow: 1px 1px black;
}
.num-1{
    margin-top: -40px;
}
.num-2{
    margin-top: 25px;
}
.num-3{
    margin-top: 20px;
}
.heding-1{
    position: absolute;
    margin-left: 200px;
    font-size: 30px;
    font-weight: 900;
    margin-top: -30px;
    color: rgb(36, 76, 83);
}
.text-2{
    position: relative;
    top: 0px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    color: rgb(36, 76, 83);
}
.content{
    position: relative;
    margin-left: 10px;
    top: -10px;
    width: auto;
}
.line{
    background-color: rgb(172, 40, 7);
    padding: 7px;
    width: 1340px;
    margin-top: 90px;
}
.we{
    position: absolute;
    background-color: rgb(36, 76, 83, 0.8);
    color: white;
    font-size: 60px;
    width: 450px;
    height: 330px;
    right: 80px;
    margin-top: -460px;
    padding: 20px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}
.about-us{
    position: absolute;
    background-color: rgb(36, 76, 83);
    color: white;
    width: 450px;
    height: 180px;
    right: 80px;
    margin-top: 230px;
    padding: 20px;
}
.heding-2{
    font-size: 20px;
    font-weight: 500;
}
.content-2{
    margin-top: -5px;
}
.contect-us{
    position: absolute;
    background-color:rgb(172, 40, 7);
    color: white;
    width: 450px;
    height: 200px;
    right: 80px;
    margin-top: 410px;
    padding: 20px;
}
.heding-3{
    font-size: 20px;
    font-weight: 500;
}
.content-3{
    margin-top: -5px;
}
.web-url{
    position: absolute;
    background-color: rgb(211, 209, 209);
    color: blue;
    width: 450px;
    height: 90px;
    right: 80px;
    margin-top: 610px;
    padding: 30px;
    font-size: 20px;
}
}

@media only screen and (min-width: 600px)/* tablet screen */
{
   body{
    position: absolute;
    min-height: 100vh;
   } 
   .container{
    position: absolute;
    min-width: 600px;
    background-size: cover;
    top: 0px;
    border: 2px solid black;
}
.div-1{
    position: relative;
    min-width: 600px;
}
.box{
    position: absolute;
    background-color: rgb(36, 76, 83);
    height: 38px;
    width: 35px;
    margin-top: 20px;
    margin-left: 15px;
    border-top: 2px solid black;
    border-left: 3px solid black;
}
.text-1{
    position: relative;
    width: 50px;
    font-size: 32px;
    letter-spacing: 1px;
    top: 15px;
    margin-left: 60px;
}
.back{
    position: relative;
    margin-top: 30px;
    height: 400px;
    min-width: 648px;
}
.div-2{
    position: relative;
    top: 10px;
    max-width: 400px;
    height: auto;
}
.number{
    position: absolute;
    font-size: 42px;
    font-weight: 500;
    margin-top: 35px;
    color: rgb(224, 52, 9);
    text-shadow: 2px 1px black;
}
.num-1{
    margin-top: -32px;
    margin-left: 20px;
}
.num-2{
    margin-top: 90px;
    margin-left: 20px;
}
.num-3{
    margin-top: 90px;
    margin-left: 20px;
}
.heding-1{
    position: absolute;
    margin-left: 70px;
    font-size: 32px;
    font-weight: 700;
    margin-top: 0px;
    padding-bottom: 30px;
    color: rgb(36, 76, 83);
}
.text-2{
    position: relative;
    top: 11px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(36, 76, 83);
    margin-left: 5px;
}
.content{
    position: relative;
    margin-left: 5px;
    top: -10px;
    width: 340px;
    font-size: 15px;
}
.line{
    background-color: rgb(172, 40, 7);
    padding: 7px;
    width: 830px;
    margin-bottom: 0px;
}
.we{
    position: absolute;
    background-color: rgb(36, 76, 83, 0.8);
    color: white;
    font-size: 32px;
    width: 200px;
    height: 200px;
    right: 60px;
    margin-top: -1070px;
    padding: 10px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}
.about-us{
    position: absolute;
    background-color: rgb(36, 76, 83);
    color: white;
    font-size: 15px;
    width: 320px;
    height: 180px;
    right: 40px;
    margin-top: -593px;
    padding: 20px;
}
.heding-2{
    font-size: 20px;
    font-weight: 500;
}
.content-2{
    margin-top: 2px;
}
.contect-us{
    position: absolute;
    background-color:rgb(172, 40, 7);
    color: white;
    width: 320px;
    height: 180px;
    right: 40px;
    margin-top: -414px;
    padding: 18px;
    font-size: 15px;
}
.heding-3{
    font-size: 20px;
    font-weight: 500;
}
.content-3{
    margin-top: -5px;
}
.web-url{
    position: absolute;
    background-color: rgb(211, 209, 209);
    color: blue;
    width: 320px;
    height: 120px;
    right: 40px;
    margin-top: -235px;
    padding: 40px;
    font-size: 15px;
}
}

@media only screen and (max-width: 600px)/* mobile screen */
{
   body{
    position: absolute;
    min-height: 100vh;
   } 
   .container{
    position: absolute;
    max-width: 600px;
    background-size: cover;
    top: 0px;
    border: 2px solid black;
}
.div-1{
    position: relative;
    max-width: 600px;
}
.box{
    position: absolute;
    background-color: rgb(36, 76, 83);
    height: 15px;
    width: 14px;
    margin-top: 10px;
    margin-left: 5px;
    border-top: 1px black;
}
.text-1{
    position: relative;
    width: 50px;
    font-size: 12px;
    top: 4px;
    margin-left: 25px;
}
.back{
    position: relative;
    margin-top: 15px;
    height: 190px;
    max-width: 600px;
}
.div-2{
    position: relative;
    top: 10px;
    max-width: 400px;
    height: auto;
}
.number{
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    color: rgb(224, 52, 9);
    text-shadow: 2px 1px black;
}
.num-1{
    margin-top: -35px;
    margin-left: 5px;
}
.num-2{
    margin-top: 60px;
    margin-left: 5px;
}
.num-3{
    margin-top: 65px;
    margin-left: 5px;
}
.heding-1{
    position: absolute;
    margin-left: 60px;
    font-size: 11px;
    font-weight: 800;
    margin-top: 0px;
    padding-bottom: 30px;
    color: rgb(36, 76, 83);
}
.text-2{
    position: relative;
    top: -25px;
    font-size: 8px;
    font-weight: 700;
    color: rgb(36, 76, 83);
    margin-left: -45px;
}
.content{
    position: relative;
    margin-left: -45px;
    top: -40px;
    width: 140px;
    font-size: 8px;
}
.line{
    background-color: rgb(172, 40, 7);
    padding: 7px;
    width: 360px;
    margin-top: -45px;
}
.we{
    position: absolute;
    background-color: rgb(36, 76, 83, 0.8);
    color: white;
    font-size: 12px;
    width: 100px;
    height: 80px;
    right: 40px;
    margin-top: -565px;
    padding: 10px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}
.about-us{
    position: absolute;
    background-color: rgb(36, 76, 83);
    color: white;
    font-size: 8px;
    width: 140px;
    height: 100px;
    right: 30px;
    margin-top: -330px;
    padding: 10px;
}
.heding-2{
    font-size: 10px;
    font-weight: 500;
}
.content-2{
    margin-top: -5px;
}
.contect-us{
    position: absolute;
    background-color:rgb(172, 40, 7);
    color: white;
    width: 140px;
    height:100px;
    right: 30px;
    margin-top: -230px;
    padding: 7px;
    font-size: 8px;
}
.heding-3{
    font-size: 8px;
    font-weight: 500;
}
.content-3{
    margin-top: -5px;
}
.web-url{
    position: absolute;
    background-color: rgb(211, 209, 209);
    color: blue;
    width: 140px;
    height: 60px;
    right: 30px;
    margin-top: -130px;
    padding: 5px;
    padding-top: 20px;
    font-size: 10px;
}
}
